@import "_color.scss";
@import "_font.scss";


@font-face {
    font-family: "din";
    src: url("../assets/fonts/din-next-regular.ttf");
}
@font-face {
    font-family: "din-bold";
    src: url("../assets/fonts/din-next-bold.ttf");
}

$regularFont : 'din', sans-serif;
$boldFont : 'din-bold', sans-serif;

html {
    -webkit-font-smoothing: antialiased;
    --scrollbarBG: #ffff;
    --thumbBG: #FE5634;
}

.meun {
    .type {


        .vs-card__group {
            background-color: $mainColor;
            border-radius: 6px;
            padding-right: 13px;

            .vs-card__group-next {
                display: none;
            }

            .vs-card__group-prev {
                display: none;
            }

            .vs-card__group-cards {
                scrollbar-width: thin;
                scrollbar-color: var(--thumbBG) var(#EBF9FC);
                z-index: 0;

                &::-webkit-scrollbar {
                    width: 8px;
                    height: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: var(#EBF9FC);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--thumbBG);
                    border-radius: 6px;
                }

                .vs-card-content {
                    min-width: 106px;
                    margin-left: 25px;
                    border-radius: 6px;

                    &.active {
                        background: $subColor;

                        .vs-card {
                            background: $subColor;

                            .vs-card__text {
                                color: #ffff;
                            }
                        }
                    }


                    .vs-card {
                        border-radius: 6px;

                        .vs-card__text {
                            font-size: 14px;
                            font-family: $regularFont;
                            padding: 8px 15px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}